*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:black;
    background-image: url("bg 1.jpg");
    background-position: center;
    background-size: cover;
    color:white;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;

}
img{
    height: 670px;
    /* margin-top: -90px; */
    width: 50%;
    margin-left: 30px;
    /* float: right; */
    margin-right: 390px;
    position: relative;
    left: 20%;
}
.content{
/* background-color: aliceblue; */
height: 670px;
color: white;
padding-left: 30px;
/* text-align: center; */
position: relative;
padding-top: 50px;
left: 1%;
top: 30%;
/* margin-top: 30px; */
/* background-color: gray; */
width: 50% ;
}
.name{
    font-size: 50px;
}

.short{
    display: block;
}
.shrt1,.shrt2{
    display: flex;
    justify-content: space-between;
    width: 140px;
   
}
.short1{
    margin-left: 30px;
} 
Button{
    margin-top: 50px;
    width:200px;
    height: 60px;
    display: flex;
    padding-left: 47px;
    padding-top: 20px;
     background-color: rgb(68, 65, 65);;
    opacity: 0.5;
    border: none;

}
Button i{
    font-size: 27px;
    margin-top: -6px;
    margin-left: -6px;
    padding-right: 10px;

}
button p{
    font-size: 15px;
}