.navbar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    color: black;
    height: 0vh;
    background-color: black;

}
ul{
    display: flex;
    justify-content: space-between;
    width: 500px;

    margin-right: 90px;
    margin-top: 30px;
}
li{
list-style: none;
font-size: 17px;

}
li:hover{
    border-bottom:3px solid #BE4502 ;
}
#one{
    border-bottom:3px solid #BE4502 ;
}
.yellow{
    color: #BE4502;
}
.whit{
    color: white;
}
.logo{
    margin-left: 40px;
    margin-top: 25px;
}
i{
    color: #BE4502;
}
input{
    background-color:  rgb(68, 65, 65);
    padding: 14px;
    margin-left:26rem;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    display: block;
}
.search{
    display:inline-block;
   
   
}
.srech{
    display: none;
}
